*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #141414;
  color: #ffffff;
}
.header {
  background-color: #1c1c1c;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.logo{
  font-size: 2.5rem;
  font-weight: bold;
  color: #e50914;
  text-align: center;
}
.search-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}
.searchbox {
  flex: 1;
  min-width: 30px;
  max-width: 500px;
  position: relative;
}
.search-input {
  width: 100%;
  padding: 10px 15px;
  background: #1c1c1c;
  border: 2px solid #333;
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
  color: #fff;
  transition: all 0.3s ease;

} 
.search-input:focus {
  border-color: #e50914;
  box-shadow: 0 0 10px #e50914;
}
.filter{
 display: flex;
 gap: 10px;
 flex-wrap: wrap;

}
select{
  padding: 10px;
  background: #1c1c1c;
  border: 2px solid #333;
  border-radius: 25px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.clearbtn {
  background: #c90f18;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.3s ease;
}
.clearbtn:hover {
  background: #f40612;
}
.clearbtn.show{
  display: inline-block;
}
.main-container{
  padding: 20px;
  max-width: 1200px;
  margin:  0 auto;
}
.sectiontitle{
  font-size: 1.8rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #e50914;
  display: inline-block;
  padding-bottom: 5px;
}
.craousel-container{
  position: relative;
  margin-bottom: 50px;
}

.craousel{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
} 
.craousel::-webkit-scrollbar {
  display: none;
}

